.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 321px;
  min-height: 89px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  top: 48px;
  left: 2px;
  right: 2px;
  padding: 12px;
}

.commentsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comment {
  margin: 0;
  padding: 0;
}

.input {
  border: none;
  border-radius: 4px;
  background-color: #F3F3F3;
  margin: 0;
  padding: 8px;
}