.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 321px;
  min-height: 89px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  top: 48px;
  left: 2px;
  right: 2px;
  padding: 12px;
}

.commentsList {
  display: flex;
  flex-direction: column;
  max-height: 136px;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
}

.commentsList::-webkit-scrollbar {
  width: 3px;
  
}

.commentsList::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
}

.comment {
  margin: 0;
  padding: 0;
  color: #100C34;
  font-size: 16px;
  line-height: 20px;
}

.line {
  margin: 8px 0 8px 0;
  padding: 0;
  background-image: url(../../images/line.svg);
  width: 288px;
  height: 1px;
}

.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 4px;
  background-color: #F3F3F3;
  margin: 0;
  padding: 8px;
  width: 100%;
}