.caledarContainer {
    padding: 8px;
    width: 50%;
    border: 1px solid #100C34;
    border-radius: 4px;
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    z-index: 1;
    transition: opacity .4s ease-in, visibility .4s ease-in-out;
}
.caledarContainerActive {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s ease-in , visibility .4s ease-in-out;
}
.caledar {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 22px;
    row-gap: 8px;
    column-gap: 8px;
}

.caledarLi {
    list-style: none;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 0 0 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.caledarLi:hover {
    background: #FF00A8;
    color: #fff;
}

.inputCustom {
    height: 48px;
    border: 1px solid #100C34;
    border-radius: 4px;
    padding: 14px 0 0 8px;
    box-sizing: border-box;
    position: relative;
}

.caledarIcon {
    position: absolute;
    right: 8px;
}

.inputOriginal {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.select {
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    background: #F8F8F8;
    position: relative;
    display: inline-block;
    appearance: none;
    padding: 2px 0 0 4px ;
    border-radius: 4px;
}

.select:first-child {
    margin-right: 8px;
    margin-left: 10px;
}

.selectYear {
    width: 68px;
    height: 22px;
    background-image: url('../form-icons/caret-down-mini.svg');
    background-repeat: no-repeat;
    background-position: 46px;
}

.selectMonth {
    width: 100px;
    height: 22px;
    background-image: url('../form-icons/caret-down-mini.svg');
    background-repeat: no-repeat;
    background-position: 76px;
}

.grey {
    color: #83828F;
}

.black {
    color: #100C34;
}

.pink {
    color: #FF00A8;
}

.active {
    background: #FF00A8;
    color: #fff;
}

.wraper {
    position: relative;
}

