@import url(./normalize.css);
@import url(./fonts/fonts.css);
@import './common.scss';


body {
  height: 100vh;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  text-decoration: none;
}