@import url(./normalize.css);
@import url(./fonts/fonts.css);
@import './common.scss';

body {
  font-family: $font-family;
}

html[app-theme='serious'] {
  --userAvatar-border-radius: 0%;
  --quote-background-image: url(../../assets/images/quote.svg);
  --quote-text-color: #100C34;
  --line-background-image: url(../../assets/images/line.svg);
  --line-height: 3px;
  --mask-dispalay: none;

}

html[app-theme='romantic'] {
  --userAvatar-border-radius: 50%;
  --quote-background-image: url(../../assets/images/quote2.svg);
  --quote-text-color: #FF00A8;
  --line-background-image: url(../../assets/images/line2.svg);
  --line-height: 9px;
  --mask-dispalay: none;
}

html[app-theme='bold'] {
  --userAvatar-border-radius: 0%;
  --quote-background-image: url(../../assets/images/quote3.svg);
  --quote-text-color: #38EC42;
  --line-background-image: url(../../assets/images/line3.svg);
  --line-height: 9px;
  --mask-dispalay: block;
}