
$font-family: "IBM Plex Sans", Arial, sans-serif;

$colors-text-dark: #100C34;
$colors-text-light: #A3A3A3;
$colors-input-hover: #666666;
$colors-placeholder: #83828F;
$colors-neon-pink: #FF00A8;
$colors-neon-green: #38EC42;
$colors-error: #E90D41;

