.page {
  border: 1px solid red;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 90px;
  padding: 40px;
}

.button_wrapper {
  width: 100%;
  display: flex;
  gap: 81px;
}

.button {
  color: #a3a3a3;
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: 0.4s linear;
}

.active {
  color: black;
}
