@import url(./fonts/fonts.css);

body {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  text-decoration: none;
}